*{
  Border: 0%;
  padding: 0%;
  margin: 0%;
}
.containerP{
  width: 100%;
  background-color: #222831;
}
.navbar{
  background-color: transparent;
}
.nav-link{
    background-color:#393e46;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #00adb5;
    border-color: #dee2e6 #dee2e6 #fff;
}
body{
  background-color: #222831;
}
.middle{
  height: 75%;
}

.row{
  width: 100%;
  height: 15%;
}
.cen{
  width: 100%;
    height: 100%;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 80px solid #00adb5;
}
.cen1{
  width: 100%;
    height: 100%;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-top: 80px solid #00adb5;
}
.left{
  width: 100%;
    height: 100%;
    border-right: 40px solid transparent;
    border-top: 80px solid #00adb5;
}
.right{
  width: 100%;
    height: 100%;
    border-left: 40px solid transparent;
    border-top: 80px solid #00adb5;
}
.left1{
  width: 100%;
    height: 100%;
    border-left: 40px solid transparent;
    border-bottom: 80px solid #00adb5;
}
.right1{
  width: 100%;
    height: 100%;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #00adb5;

}
